body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:659px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:702px;
  height:659px;
}
#u157 {
  position:absolute;
  left:2px;
  top:322px;
  width:698px;
  visibility:hidden;
  word-wrap:break-word;
}
