body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:1331px;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:1331px;
}
#u477 {
  position:absolute;
  left:2px;
  top:658px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
