body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:681px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u574 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:19px;
}
#u576 {
  position:absolute;
  left:2px;
  top:2px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:585px;
  background:inherit;
  background-color:rgba(218, 220, 217, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  position:absolute;
  left:0px;
  top:63px;
  width:365px;
  height:585px;
}
#u578 {
  position:absolute;
  left:2px;
  top:284px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u579 {
  position:absolute;
  left:56px;
  top:30px;
  width:52px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u580 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:51px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u581 {
  position:absolute;
  left:0px;
  top:19px;
  width:365px;
  height:51px;
}
#u582 {
  position:absolute;
  left:2px;
  top:18px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#E4E4E4;
}
#u583 {
  position:absolute;
  left:18px;
  top:37px;
  width:69px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#E4E4E4;
}
#u584 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:33px;
  background:inherit;
  background-color:rgba(36, 35, 40, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(107, 107, 107, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  position:absolute;
  left:255px;
  top:30px;
  width:103px;
  height:33px;
}
#u587 {
  position:absolute;
  left:2px;
  top:8px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u589 {
  position:absolute;
  left:270px;
  top:45px;
  width:4px;
  height:4px;
}
#u590 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u591 {
  position:absolute;
  left:286px;
  top:45px;
  width:4px;
  height:4px;
}
#u592 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u593 {
  position:absolute;
  left:277px;
  top:44px;
  width:6px;
  height:6px;
}
#u594 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u596 {
  position:absolute;
  left:322px;
  top:38px;
  width:17px;
  height:17px;
}
#u597 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u598 {
  position:absolute;
  left:324px;
  top:40px;
  width:13px;
  height:13px;
}
#u599 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u600 {
  position:absolute;
  left:327px;
  top:43px;
  width:7px;
  height:7px;
}
#u601 {
  position:absolute;
  left:2px;
  top:-4px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:21px;
}
#u602 {
  position:absolute;
  left:306px;
  top:37px;
  width:1px;
  height:20px;
}
#u603 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  position:absolute;
  left:0px;
  top:112px;
  width:358px;
  height:125px;
}
#u606 {
  position:absolute;
  left:2px;
  top:54px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u607 {
  position:absolute;
  left:10px;
  top:80px;
  width:85px;
  height:22px;
  font-size:18px;
}
#u608 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u610 {
  position:absolute;
  left:10px;
  top:123px;
  width:23px;
  height:23px;
  font-size:64px;
  color:#FFFFFF;
}
#u611 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u612 {
  position:absolute;
  left:16px;
  top:130px;
  width:12px;
  height:9px;
}
#u613 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u614 {
  position:absolute;
  left:43px;
  top:124px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u615 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u616 {
  position:absolute;
  left:18px;
  top:153px;
  width:340px;
  height:1px;
}
#u617 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u618 {
  position:absolute;
  left:43px;
  top:165px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u619 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u620 {
  position:absolute;
  left:18px;
  top:194px;
  width:340px;
  height:1px;
}
#u621 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u622 {
  position:absolute;
  left:43px;
  top:206px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u625 {
  position:absolute;
  left:10px;
  top:205px;
  width:23px;
  height:23px;
  font-size:64px;
  color:#FFFFFF;
}
#u626 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u628 {
  position:absolute;
  left:10px;
  top:164px;
  width:23px;
  height:23px;
  font-size:64px;
  color:#FFFFFF;
}
#u629 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:0px;
  top:277px;
  width:359px;
  height:44px;
}
#u632 {
  position:absolute;
  left:2px;
  top:14px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
}
#u633 {
  position:absolute;
  left:44px;
  top:290px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u635 {
  position:absolute;
  left:288px;
  top:290px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u637 {
  position:absolute;
  left:10px;
  top:289px;
  width:19px;
  height:20px;
  font-size:8px;
  color:#999999;
}
#u638 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u639 {
  position:absolute;
  left:10px;
  top:245px;
  width:85px;
  height:22px;
  font-size:18px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
}
#u641 {
  position:absolute;
  left:73px;
  top:2122px;
  width:57px;
  height:30px;
  color:rgba(9, 187, 7, 0.2);
}
#u642 {
  position:absolute;
  left:15px;
  top:7px;
  width:27px;
  white-space:nowrap;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:47px;
}
#u643 {
  position:absolute;
  left:4px;
  top:573px;
  width:355px;
  height:47px;
  font-size:18px;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:2px;
  top:12px;
  width:351px;
  word-wrap:break-word;
}
#u645 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  position:absolute;
  left:0px;
  top:502px;
  width:359px;
  height:44px;
}
#u647 {
  position:absolute;
  left:2px;
  top:14px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u648 {
  position:absolute;
  left:44px;
  top:515px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u650 {
  position:absolute;
  left:10px;
  top:514px;
  width:19px;
  height:20px;
  font-size:8px;
  color:#999999;
}
#u651 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u652 {
  position:absolute;
  left:10px;
  top:470px;
  width:73px;
  height:22px;
  font-size:18px;
  color:#999999;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u654 {
  position:absolute;
  left:266px;
  top:512px;
  width:87px;
  height:25px;
}
#u654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:0px;
  top:366px;
  width:359px;
  height:44px;
}
#u657 {
  position:absolute;
  left:2px;
  top:14px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u658 {
  position:absolute;
  left:44px;
  top:379px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u660 {
  position:absolute;
  left:10px;
  top:378px;
  width:19px;
  height:20px;
  font-size:8px;
  color:#999999;
}
#u661 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
}
#u662 {
  position:absolute;
  left:10px;
  top:334px;
  width:85px;
  height:22px;
  font-size:18px;
}
#u663 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u664 {
  position:absolute;
  left:180px;
  top:376px;
  width:173px;
  height:25px;
}
#u664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:0px;
  top:410px;
  width:359px;
  height:44px;
}
#u666 {
  position:absolute;
  left:2px;
  top:14px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u667 {
  position:absolute;
  left:44px;
  top:423px;
  width:49px;
  height:19px;
  font-size:16px;
}
#u668 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u669 {
  position:absolute;
  left:9px;
  top:423px;
  width:19px;
  height:20px;
  font-size:8px;
  color:#999999;
}
#u670 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:181px;
  top:421px;
  width:173px;
  height:25px;
}
#u671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:649px;
}
#u672 {
  position:absolute;
  left:0px;
  top:704px;
  width:365px;
  height:649px;
}
#u673 {
  position:absolute;
  left:2px;
  top:316px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u674 {
  position:absolute;
  left:381px;
  top:293px;
  width:300px;
  height:16px;
  color:#169BD5;
}
#u675 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#169BD5;
}
#u676 {
  position:absolute;
  left:381px;
  top:112px;
  width:300px;
  height:16px;
  color:#169BD5;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
