body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:96px;
}
#u130 {
  position:absolute;
  left:164px;
  top:203px;
  width:300px;
  height:96px;
}
#u131 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u132 {
  position:absolute;
  left:495px;
  top:242px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u134 {
  position:absolute;
  left:177px;
  top:220px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u135 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u136 {
  position:absolute;
  left:301px;
  top:220px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u137 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:91px;
}
#u138 {
  position:absolute;
  left:163px;
  top:66px;
  width:300px;
  height:91px;
}
#u139 {
  position:absolute;
  left:2px;
  top:38px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u140 {
  position:absolute;
  left:495px;
  top:113px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u142 {
  position:absolute;
  left:177px;
  top:79px;
  width:100px;
  height:38px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:2px;
  top:11px;
  width:96px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:38px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u144 {
  position:absolute;
  left:301px;
  top:79px;
  width:84px;
  height:38px;
  color:#FFFFFF;
}
#u145 {
  position:absolute;
  left:2px;
  top:11px;
  width:80px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u146 {
  position:absolute;
  left:33px;
  top:211px;
  width:50px;
  height:80px;
}
#u147 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u148 {
  position:absolute;
  left:33px;
  top:58px;
  width:50px;
  height:80px;
}
#u149 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:83px;
  top:98px;
  width:0px;
  height:0px;
}
#u150_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u150_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:21px;
  height:20px;
}
#u151 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:83px;
  top:251px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u152_seg1 {
  position:absolute;
  left:67px;
  top:-10px;
  width:21px;
  height:20px;
}
#u153 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:83px;
  top:251px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u154_seg1 {
  position:absolute;
  left:36px;
  top:-82px;
  width:8px;
  height:86px;
}
#u154_seg2 {
  position:absolute;
  left:36px;
  top:-82px;
  width:228px;
  height:8px;
}
#u154_seg3 {
  position:absolute;
  left:256px;
  top:-134px;
  width:8px;
  height:60px;
}
#u154_seg4 {
  position:absolute;
  left:250px;
  top:-141px;
  width:20px;
  height:21px;
}
#u155 {
  position:absolute;
  left:69px;
  top:-86px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
